@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

header {
  padding: 40px 0px 20px 0px;
}

@media (max-width: 499px) {
  header img {
    width: 100%;
  }
}

div.horizontal-line {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h5,
.h5 {
  font-size: 14px;
}

h1 {
  font-size: 50px;
  margin: 30px 0px;
}

.under-text {
  font-family: 'Lobster', cursive;
}
